<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">


    <title>LGSTX Homepage</title>
</head>
<body>
    <!-- <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="logo.PNG" width="40%" height="40%" class="d-inline-block align-top" alt="">
        </a>
    </nav> -->
    <%- include('flash') %>
        <nav>
            <a class="navbar-brand" href="#">
                <img src="logo.PNG" width="10%" height="10%" class="d-inline-block align-top" alt="">
            </a>

        </nav>
        <div>
            <a class="nav-link" href="/login-user">User Login</a>
            <a class="nav-link" href="/login-manager">Manager Login</a>
            <a class="nav-link" href="/login-admin">Admin Login</a>
            <!-- <a class="nav-link" href="/register-user">User Register</a> -->
            <!-- <a class="nav-link" href="/register-manager">Manager Register</a> -->
            <a class="nav-link" href="/register-admin">Admin Register</a>
        </div>
    
    

    <footer class="footer fixed-bottom ">
        <div class="container">
            <center>
            <p class="text-muted">LGSTX</p>
            </center>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
crossorigin="anonymous"></script>
</body>
</html>